/* 
CORES:
      Vermelho-escuro:  #540600
      Vermelho: #8d1600
      Vermelho-claro: #b21400
      Amarelo: #fcce1f
      Amarelo-escuro: #e09300
      Laranja: #dd7900
      marrom: #6d1503
      Marrom-escuro: #420900
*/
/* ********** */
/* --------------------------- CSS GERAL ---------------------------- */
h1{
  font-size: 3em;
  margin-bottom: 10px;
  color: #fffbea;
  text-shadow: 2px 2px #c04000;
}
a{
  font-size: 1.3cm;
}

body{
  background-color: #540600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  margin: 0;
}

button{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.5cm;
  background-color: #fcce1f;
  background-image: linear-gradient(to bottom, #fcce1f, #dd7900);
  width: 130px;
  height: 40px;
  color: #420900;
  border-radius: 10px;
  border: #420900 solid;
  box-shadow: #420900 5px 5px 0px 0px;
  cursor: pointer;
}

/* ----------------------------------------------------------------- */
/* ******** */
/* ---------------------- CSS TELA DE INÍCIO --------------------- */
.tela{
  background-image: radial-gradient( #8d1600, #540600);
  height: 100dvg;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  top: 5px;
}

#botoes-inicio{
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#logo-fortune{
  max-width: 400px;
}

/* ----------- ANIMAÇÃO DA TELA DE INICIO --------------- */

#tela-inicio{
  position: absolute;
  z-index: 1;
}

.caramelo-da-sorte{
  display: grid;
  grid-template-columns: repeat(8,6rem);
  grid-template-rows: repeat(6.6rem);
}

.caramelo-da-sorte > img:nth-child(1){
  grid-row: 2/6;
  grid-column: 3/8;
  z-index: -1;
}

.caramelo-da-sorte > img:nth-child(2){
  grid-row: 2/6;
  grid-column: 3/7;
  transition: 1s;
  z-index: 100;
}
 
.caramelo-da-sorte > img{
  width: 100%;
  object-fit: cover;
}

.caramelo-da-sorte :hover{
  transform: scale(1.5);
}

.sparkle{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: absolute;
  z-index: -2;
}

.icone{
  width: 80px;
  height: 80px;
  background-image: url('./img/sparkle.png');
  background-size: contain;
  background-position:center;
  background-repeat: no-repeat;
  animation: anima linear infinite;
  animation-duration: calc(300s / var(--i));
}

@keyframes anima{
  0%{
    transform: translateY(100vh) scale(0) rotate(0deg);
  }
  100%{
    transform: translateY(-10vh) scale(1) rotate(360deg);
  }
}

/* ---------------------------------------------------------------- */
/* ************ */
/* ------------------------------ CSS FORMULARIO ----------------------- */

#popup-formulario{
  display:none;
  border: #420900 solid;
}
/* ------------------------------------------------------------------- */
/* ********** */
/* ---------------------- CSS TELA PRINCIPAL DE JOGO ---------------------- */
.tela.jogo{
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.score{
  width: 20%;
  background-color: #fcce1f;
}

.botoes.jogo{
  width: 20%;
  background-color: #ffae42;
  font-size: 1.3cm;
}

.container-niquel{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 540px;
  height: 700px;
  background-color: #c0400000; 
  background-image: url("./img/maquina.png");
  background-size: 100%; 
  /* background-position-x: 0px; */
  background-repeat: no-repeat;
}

.tiles{
  width: 540px;
  height: 283px;
  display:flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 172px;
  background-color: #fff5cc00;
  justify-content: space-around;
}

.colunaTrans{
  width: 14%;
}
.colunaTrans2{
  width: 20%;
}
.coluna01, .coluna02, .coluna03{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #42090000;
}

.tile{
  width: 90%;
}


/*  ---------------------------------------------------------------   */
/* *********** */






/* config */
/* 
    .slot-container {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      gap: 15px;
      justify-content: center;
      margin: 30px 0;
    }

    .slot {
      width: 100px;
      height: 100px;
      background-color: #fff5cc;
      border: 4px solid #ff9900;
      border-radius: 12px;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ff6600;
      box-shadow: 0 0 10px #ffae42;
    }
 #result {
      margin-top: 20px;
      font-size: 1.5em;
      color: #fffbe0;
    } */